<section class = "lost" >
 <div class = "page-header">
  <h2>You have entered the point of no return!</h2>
  <h3>Please make sure that you have the right url entered.</h3>
 </div>
 <div class ="not-found-paragraph">
   <h4>This file does not exist and there was no index.html found in the current directory or 404.html in the root directory.</h4>
   <h2 class = "question">Why am I seeing this?</h2>
   <h4> You may have deployed the wrong directory for your application. Check your firebase.json and make sure the public directory is pointing to a directory that contains an index.html file.</h4>
   <h4>You can also add a 404.html in the root of your site to replace this page with a custom error page.</h4>
 </div>
</section>