
.registerPage {
  background-color: blue;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form-field {
  border: none;
  border-top: white;
  border-bottom: white;
  border-left: white;
  border-right: white;

}
p {
  color: red;
  size: 2rem;

}
h1 {
  color: white;
  font-size: 2rem;

}

.heading {
  text-align: center;
}
.container {
  margin: 0 auto;
align-content: center;
width: 1100px;
}
.register-page-form {
  text-align: left;
  width: 100%;
}
input, select {
  width: 100%;
  background-color: yellow;
  border-top: white;
  border-left: white;
  border-right: white;


}
.button-field {
  border-color: black;
}

button {

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: inherit;
  align-items: center;

}
