<div class="registerPage">

<h1 class="heading">Register</h1>

    <form class="register-page-form, container">
      <!-- <fieldset class="from-field"> -->

      <input type="text" name="name" id="name"  placeholder="name" [(ngModel)]="colonist.name">
      <input type="number" name="age" id="age" placeholder="age"[(ngModel)]="colonist.age">

        <select name="formDropdown">
          <option value="Select occupation">Select occupation</option>
          <option value="Dust farmer">Dust farmer</option>
          <option value="Alien hunter">Alien hunter</option>
          <option value="Battery technician">Battery technician</option>
          <option value="Yoga teacher">Yoga teacher</option>
          <option value="Front-end developer">Front-end developer</option>
        </select>
      <!-- </fieldset> -->
      <fieldset class="button-field">
          <button type="button" name="Check in">Check in</button>
      </fieldset>
      {{ colonist.name }}
      {{ colonist.age }}
    </form>


  </div>
